<!DOCTYPE html>
<html>
<head>
	<title>Kitchen Display</title>
	<% include partials/stylesheets.ejs %>
</head>
<body>
	<main>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1 class="w3-green w3-padding">You rock</h1>
			</div>			
		</div>
	</main>
</body>
</html>